
.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 80%;
}

.carousel-inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 670px;
    background: linear-gradient(to right, rgba(54, 54, 54, 0.6), rgba(0, 0, 0, 0));
}

.carousel-item img {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 50px;
}

.carousel-caption {
    position: absolute;
    margin-left: 750px;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #000000a7;
    /* max-width: 40%; */
}

.carousel-caption h5 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.carousel-caption a {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #00b894;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.carousel-caption a:hover {
    background-color: #019870;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    width: 40px;
    height: 40px;
}

.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators li {
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-indicators .active {
    background-color: #00b894;
}
