<div class="full">

    <h3>Seasonal Products Deals are here ---</h3>

    <div class="card">
        <div class="deal-image">
            <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1706099825/Croma%20Assets/Small%20Appliances/Geysers/Images/211248_0_khlyij.png?tr=w-400" alt="Croma 43" height="300px" width="200px">
        </div>
        <div class="deal-info">
            <h5>HAVELLS Instanio 3 Litres Instant Water Geyser</h5>
            <p>₹3599* <span>*Free Standard Installation</span></p>
        </div>
    </div>

    <div class="card">
        <div class="deal-image">
            <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1706099482/Croma%20Assets/Small%20Appliances/Geysers/Images/191786_0_phe1p8.png?tr=w-400" alt="Croma 43" height="300px" width="200px">
        </div>
        <div class="deal-info">
            <h5>Racold Pronto Stylo 3 Litres Instant Water Geyser</h5>
            <p>₹3149* <span>*No Cost EMI available</span></p>
        </div>
    </div>

    <div class="card">
        <div class="deal-image">
            <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1637215218/Croma%20Assets/Small%20Appliances/Room%20Heaters/Images/245673_dvjibd.png?tr=w-400" alt="Croma 43" height="300px" width="200px">
        </div>
        <div class="deal-info">
            <h5>Russell Hobbs 800 Watts Carbon Room Heater </h5>
            <p>₹1899* <span>*Standard Delivery by Tomorrow</span></p>
        </div>
    </div>

    <div class="card">
        <div class="deal-image">
            <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1698744263/Croma%20Assets/Small%20Appliances/Room%20Heaters/Images/302394_h02fvk.png?tr=w-400" alt="Croma 43" height="300px" width="200px">
        </div>
        <div class="deal-info">
            <h5>USHA 2500 Watts PTC Fan Room Heater</h5>
            <p>Starting at ₹7,499*</p>
        </div>
    </div>

    <div class="card">
        <div class="deal-image">
            <img src="https://img.icons8.com/?size=50&id=37216&format=png" alt="See All Deals" height="300px" width="200px">
        </div>
        <div class="deal-info">
            <button  (click)="move()"><u>See All</u></button>
            <p>Explore more products and discounts. Check out all offers now!</p>
        </div>
    </div>
</div>
