<footer class="footer">
    <div class="container">

      <div class="about">
        <!-- <img src="https://image.shutterstock.com/image-vector/logo-letter-combinations-a-e-260nw-1069812434.jpg" alt="Logo" class="logo"> -->
        <h2>Atul Electronics and Works</h2>
        <p>
            Atul Electronics and Works specializes in providing high-quality electrical accessories, appliances, and reliable repair services, catering to all your electrical needs efficiently.
        </p>
        <p class="note">!! Happy Shopping !!</p>
      </div>

      <div class="services">
        <h3>Services</h3>
        <ul>
          <li>Home Appliances</li>
          <li>Accessorries</li>
          <li>Repairing</li>
        </ul>
      </div>

      <div class="contact">
        <h3>Contact</h3>
        <p>ATUL ELECTRONICS AND WORKS</p>
        <p>Main bazar Gohana, Haryana, INDIA, 131301</p>
        <p>Email: <a href="mailto:mrpankajsaini7778@gmail.com"><u>mrpankajsaini7778gmail.com</u></a></p>
        <p>Phone: +91-8307017204</p>
      </div>

      <div class="social">

        <h3>Get In Touch</h3>
        <ul>
          <li><img src="https://img.icons8.com/?size=48&id=19318&format=png" alt="" height="30px"><a href=""> YouTube</a></li>          
          <li><img src="https://img.icons8.com/?size=48&id=16713&format=png" alt="" height="30px"><a href="">   Whatsapp</a></li>
          <li><img src="https://img.icons8.com/?size=48&id=32323&format=png" alt="" height="32px"><a href=""> Instagram</a></li>
          <li><img src="https://img.icons8.com/?size=48&id=118497&format=png" alt="" height="30px"><a href=""> Facebook</a></li>
        </ul>
      </div>
    </div>

    <div class="bottom">
      <p>Copyright © 2025: <a href="#"><u>Atul Electronics and Works</u></a>. All Rights Reserved.</p>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>
  </footer>

