<div class="full">
    <h2>Why AEW?</h2>
    <div class="features">
      <div class="card">
        <img src="https://image.shutterstock.com/image-vector/approval-check-vector-icon-260nw-772897276.jpg" alt="" />
        <h3>Quality Electronics</h3>
        <p>Experience the finest quality electronics built with precision and care, ensuring durability and excellence.</p>
      </div>
      <div class="card">
        <img src="https://image.shutterstock.com/image-vector/vector-handshake-icon-circle-iconic-260nw-768739186.jpg" alt="" />
        <h3>Trusted Repair Services</h3>
        <p>Our expert repair services deliver reliable solutions for all your electronic appliances, guaranteeing satisfaction.</p>
      </div>
      <div class="card">
        <img src="https://via.placeholder.com/100" alt="" />
        <h3> Affordable Pricing</h3>
        <p>At AEW, we offer competitive pricing to ensure you get the best value for high-quality electronics and services without compromising your budget.</p>
      </div>
    </div>
  </div>
  