
.full {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .product-card {
    width: 250px;
    background: none;
    border-radius: 8px;
    border: 1px solid #0000;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    cursor: pointer;
    /* border: none; */
    border-color: black;
  }
  
  .product-card img {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .name h4 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  
  .review p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
  }
  
  .price {
    margin: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: #2c7c31; 
  }
  
  .price .price {
    font-size: 18px;
    color: #2c7c31;
  }
  
  h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #444;
  }
  