<section class="fields">
    <h2>Fields in which we are specialize</h2>
    <div class="specialty-cards">
      <div class="card">
        <img src="https://media-ik.croma.com/prod/https://media.croma.com/image/upload/v1718950556/Croma%20Assets/Small%20Appliances/Food%20Processors/Images/274591_0_joyaj1.png?tr=w-400" alt="Home Appliances" class="specialty-image">
        <h3>Home Appliances</h3>
        <p>From Fans and Irons to Heating kettle, AEW offers a wide range of home appliances to make your daily life more convenient and efficient.</p>
        <button (click)="moveApp()">Click here</button>
      </div>
      <div class="card">
        <img src="https://great-white.in/images/home-cat-ha.png" alt="Accessories" class="specialty-image">
        <h3>Electrical Accessories</h3>
        <p>Discover a variety of electrical accessories from brands like GreatWhite, Ancor, Nelson, and Havells. We provide quality accessories to complement your home.</p>
        <button (click)="moveAcc()">Click here</button>

      </div>
      <div class="card">
        <img src="https://media.istockphoto.com/id/1144327830/photo/a-professional-electrician-man-is-fixing-the-heavy-unit-of-an-air-conditioner-at-the-roof-top.jpg?s=612x612&w=0&k=20&c=UrldNSKw1j-C5HUqCK9vOD3NuNub7Kiy5Z4TXqqwzHo=" alt="Repairing" class="specialty-image">
        <h3>Repairing</h3>
        <p>Our expert technicians offer reliable repair services for electronics and appliances, ensuring your devices are up and running in no time.</p>
        <button (click)="moveRep()">Click here</button>
      </div>
    </div>
  </section>
  